{% extends "sleigh/base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'sleigh/vendor/datatables/datatables.min.css' %}" rel="stylesheet">
<style>
    div.dt-container>div.row {
        margin-bottom: .5rem !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <form method="POST" id="deviceObjectForm" action="{% url 'sleigh:device_inventory' %}">
        {% csrf_token %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 text-gray-800">Device Inventory</h1>
            <div>
                <div>
                    <label for="config-select">Bulk Edit Config:</label>
                    <select name="config_id" id="config-select">
                        {% for config in configs %}
                        <option value="{{ config.id }}">{{ config.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-sm btn-primary shadow-sm" name="action" value="update_config" disabled>Update Config</button><br>
                </div>
                <div class="mt-2">
                    <label for="profile-select">Bulk Edit Profile:</label>
                    <select name="profile_id" id="profile-select">
                        {% for profile in profiles %}
                        <option value="{{ profile.id }}">{{ profile.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-sm btn-primary shadow-sm" name="action" value="update_profile" disabled>Update Profile</button>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" id="tbldevices">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Serial</th>
                                <th>Primary User</th>
                                <th>OS</th>
                                <th>Model</th>
                                <th>Santa Ver</th>
                                <th>Synced Rule Count</th>
                                <th>Config</th>
                                <th>Profile</th>
                                <th>Last Connected</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'sleigh/vendor/datatables/datatables.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#tbldevices').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'sleigh:device_data' %}",
                type: 'GET'
            },
            columns: [
                { data: 'checkbox', orderable: false, searchable: false },
                { data: 'serial_num' },
                { data: 'primary_user' },
                { data: 'os_version' },
                { data: 'model_identifier' },
                { data: 'santa_version' },
                { data: 'rules_synced' },
                { data: 'config' },
                { data: 'profile' },
                { data: 'last_updated' }
            ],
            order: [[9, 'desc']]
        });

        document.addEventListener('DOMContentLoaded', function() {
            const checkboxes = document.querySelectorAll('.checkbox-item');
            const submitButtons = document.querySelectorAll('button[type="submit"]');

            function toggleSubmitButtons() {
                const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
                submitButtons.forEach(button => {
                    button.disabled = !anyChecked;
                });
            }

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', toggleSubmitButtons);
            });

            toggleSubmitButtons();
        });
    });
</script>
{% endblock %}
