{% extends "sleigh/base.html" %}
{% load static %}

{% block extra_css %}

<link href="{% static 'sleigh/vendor/datatables/datatables.min.css' %}" rel="stylesheet">
<style>
    div.dt-container>div.row {
        margin-bottom: .5rem !important;
    }
    .modal-body .table-responsive {
        max-width: 100%;
        overflow-x: hidden; /* Disable horizontal scrolling */
    }

    .modal-body table {
        width: 100%;
        table-layout: fixed; /* Ensures cells take equal space */
    }

    .modal-body th, .modal-body td {
        white-space: normal; /* Allow word wrapping */
        word-wrap: break-word; /* Break long words */
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <form method="POST" id="IgnoreEventForm" action="{% url 'sleigh:events' %}">
        {% csrf_token %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 text-gray-800">Santa Events</h1>
            <button type="submit" class="btn btn-sm btn-primary shadow-sm" id="submit-button" disabled>Ignore Selected</button>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" id="tblevents">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">EventID</th>
                                <th scope="col">Datetime</th>
                                <th scope="col">Decision</th>
                                <th scope="col">User</th>
                                <th scope="col">File Name</th>
                                <th scope="col">SigningID</th>
                                <th scope="col">Serial</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for e in form.fields.events.queryset %}
                        <tr>
                            <td><input type="checkbox" name="events" class="checkbox-item" value="{{ e.id }}"></td>
                            <td>{{ e.id }}</td>
                            <td>{{ e.timestamp|date:"Y/m/d H:i:s" }}</td>
                            <td>{{ e.decision }}</td>
                            <td>{{ e.executing_user }}</td>
                            <td>{{ e.file_name }}</td>
                            <td>{{ e.signing_id }}</td>
                            <td>{{ e.serial_num }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Log Entry Modal-->
<div class="modal fade" id="logentryModal" tabindex="-1" role="dialog" aria-labelledby="logentryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logentryModalLabel">Event Details</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'sleigh/vendor/datatables/datatables.min.js' %}"></script>

<script>
    $(document).ready(function() {
        const table = $('#tblevents').DataTable({  
        stateSave: true,
        columnDefs: [
                {
                    target: 1,
                    visible: false,
                    searchable: false
                }
            ],
            layout: {
                bottomEnd: {
                    paging: {
                        firstLast: false
                    }
                }
            },
            language: {
                'paginate': {
                  'previous': '<span class="prev-icon">Previous</span>',
                  'next': '<span class="next-icon">Next</span>'
                }
            }
        });

        // Attach the click event listener
        $('#tblevents tbody').on('click', 'tr', function() {
            if (!$(event.target).closest('.checkbox-item').length) {
                const dataId = table.row(this).data()[1]; // Get data from the second column
                const url = `/event_details/${dataId}/`; // Construct the URL with the event ID

                loaddata(dataId); // Call the function to load data
            }
        });

        function loaddata(dataId) {
            $.ajax({
                url: `/event_details/${dataId}/`, // URL with the correct ID
                method: 'GET',
                success: function(response) {
                    // Insert the returned HTML into the modal
                    $('#logentryModal .modal-body').html(response);
                    // Show the modal
                    $('#logentryModal').modal('show');
                },
                error: function(xhr, status, error) {
                    console.error('AJAX Error: ' + status + ': ' + error);
                    alert('Failed to load data. Please try again.');
                }
            });
        }
    });
    // JavaScript to enable/disable the submit button based on checkbox state
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('.checkbox-item');
        const submitButton = document.getElementById('submit-button');

        function toggleSubmitButton() {
            // Check if any checkbox is checked
            const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            // Enable or disable the submit button
            submitButton.disabled = !anyChecked;
        }

        // Attach change event listener to each checkbox
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', toggleSubmitButton);
        });
    });
</script>
{% endblock %}